@font-face{
   font-family: 'Roboto';
   src: url('../assets/fonts/Roboto-Bold.ttf');
}

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
   font-family: 'Roboto';
	background-color: #f0ecd1;
	font-size: calc(2rem + ((4 - 2) * 16) * ((100vw - 20rem) / (1920 - 320)));
	color: rgb(24, 24, 247);
}

.memes{
	padding: calc(0.9375rem + (4 * 16) * ((100vw - 20rem) / (1920 - 320))) 0;
}

.memes__container{
	padding: 0 10vw;
}

h1{
	color: #000;
	font-size: 1.5em;
	text-transform: capitalize;
	padding: 0 0 calc(0.9375rem + (1 * 16) * ((100vw - 20rem) / (1920 - 320))) 0;
}

.h1-hr{
	background-color: #bbbbb7;
	height: calc(0.0625rem + (0.0625 * 16) * ((100vw - 20rem) / (1920 - 320)));
}

.capitalize{
	text-transform: uppercase;
}